[Unit]
Description=Rebellions Driver 설치
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "until ping -c1 archive.ubuntu.com; do sleep 1; done"
ExecStart=/usr/bin/apt update -y
ExecStart=/usr/bin/apt install -y /opt/rebellions/rebellions_driver.deb
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target