[Unit]
Description=Rebellions Driver 설치
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/apt install -y /opt/rebellions/rebellions_driver.deb --no-gpg-check
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target