[Unit]
Description=Rebellions Driver 설치
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dnf install -y /opt/rebellions/rebellions_driver.rpm
ExecStart=/usr/sbin/depmod -a
ExecStart=/usr/sbin/modprobe rebellions
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target